In [1]:
import pandas as pd

In [40]:
df = pd.read_csv(r'C:\Users\Allen_000\Desktop\Projects\SVI_barchart\Municipio_SVI_2018_0.csv')

In [41]:
#df.sort_values(['NAME'], ascending=False)['NAME'].tolist()
 
df['Themerank'] = df['HSECOMP'].rank(ascending=False)
#df['Themerank'].tolist()
df

,GEOID,NAME,HSECOMP,MINLANG,HSETRANS,SOCIOECON,OVERALL,Themerank
0,72085,Las Piedras,0.1818,0.8311,0.0259,0.247,0.1688,64.0
1,72115,Quebradillas,0.5064,0.4935,0.1558,0.416,0.2337,38.5
2,72105,Naranjito,0.5064,0.9220,0.2727,0.636,0.6623,38.5
3,72053,Fajardo,1.0000,0.1428,0.9220,0.584,0.8701,1.0
4,72151,Yabucoa,0.3246,0.9740,0.0909,0.844,0.5974,52.5
...,...,...,...,...,...,...,...,...
73,72101,Morovis,0.7272,0.6883,0.1818,0.649,0.6233,22.0
74,72083,Las Marías,0.1168,0.7532,0.3896,0.468,0.3246,68.5
75,72059,Guayanilla,0.8311,0.7142,0.2467,0.623,0.7532,14.0
76,72131,San Sebastián,0.4935,0.3636,0.5324,0.922,0.6493,40.0
77,72089,Luquillo,0.7142,0.2337,0.5974,0.558,0.5064,23.0

In [42]:
df.sort_values(['Themerank'])['NAME'].tolist()

['Fajardo',
 'Orocovis',
 'Arroyo',
 'Salinas',
 'Barranquitas',
 'Santa Isabel',
 'Ciales',
 'Guánica',
 'Villalba',
 'Cataño',
 'Comerío',
 'Jayuya',
 'Cayey',
 'Guayanilla',
 'Barceloneta',
 'Aguadilla',
 'Guayama',
 'Juncos',
 'Coamo',
 'Aibonito',
 'Sabana Grande',
 'Morovis',
 'Luquillo',
 'Caguas',
 'Bayamón',
 'Mayagüez',
 'Aguas Buenas',
 'Ponce',
 'Juana Díaz',
 'Hormigueros',
 'Carolina',
 'Manatí',
 'Florida',
 'Loíza',
 'Adjuntas',
 'Cidra',
 'Río Grande',
 'Naranjito',
 'Quebradillas',
 'San Sebastián',
 'Peñuelas',
 'Rincón',
 'Vega Alta',
 'Moca',
 'Ceiba',
 'Yauco',
 'Isabela',
 'Corozal',
 'Canóvanas',
 'Dorado',
 'Vega Baja',
 'Naguabo',
 'Yabucoa',
 'San Juan',
 'Arecibo',
 'Gurabo',
 'Utuado',
 'Toa Baja',
 'Añasco',
 'Lajas',
 'Guaynabo',
 'Humacao',
 'Trujillo Alto',
 'Las Piedras',
 'Cabo Rojo',
 'Toa Alta',
 'Aguada',
 'Lares',
 'Las Marías',
 'Camuy',
 'Culebra',
 'Vieques',
 'San Germán',
 'San Lorenzo',
 'Maunabo',
 'Maricao',
 'Patillas',
 'Hatillo']

In [44]:
df.sort_values(['Themerank'])

,GEOID,NAME,HSECOMP,MINLANG,HSETRANS,SOCIOECON,OVERALL,Themerank
3,72053,Fajardo,1.0000,0.1428,0.9220,0.584,0.8701,1.0
39,72107,Orocovis,0.9870,0.8571,0.6103,0.974,1.0000,2.0
60,72015,Arroyo,0.9740,0.8961,0.6493,0.104,0.8571,3.0
16,72123,Salinas,0.9610,0.8051,0.5064,0.221,0.7922,4.0
21,72019,Barranquitas,0.9480,1.0000,0.9480,0.481,0.9870,5.0
...,...,...,...,...,...,...,...,...
40,72129,San Lorenzo,0.0519,0.7922,0.4545,0.286,0.2467,74.0
42,72095,Maunabo,0.0389,0.5974,0.4415,0.909,0.4805,75.0
25,72093,Maricao,0.0259,0.9610,0.5584,0.714,0.6363,76.0
43,72109,Patillas,0.0129,0.8701,0.4675,0.727,0.4935,77.0
50,72065,Hatillo,0.0000,0.6883,0.0000,0.312,0.0649,78.0

In [45]:
test = "0123456789"

In [46]:
test[:8]

'01234567'